@charset "UTF-8";

@import "lib/slick.css";

@import "common/variables";
@import "common/mixins";
@import "common/placeholders";
@import "common/base";
// https://webclub.tistory.com/518 참고 사이트
// 3중첩 넘어가지않게
// 네이밍 _ (Underbar)로 사용하는 것을 권장

@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

// .title {
//     @include border-radius(100px);
//     @include translate(-50%, -50%);

//     position: absolute;
//     top: 50%;
//     left: 50%;

//     .ab {
//         color: red;
//     }
// }

// @include mobile {
//     .title {
//         color: red;
//     }
// }

// horizon
.horizon {
    overflow: auto;
    background: #333333;
    white-space: nowrap;

    a {
        display: inline-block;
        padding: 14px;
        color: #ffffff;
        text-align: center;

        &:hover {
            background: #777777;
        }
    }
}

// box_hover_line
.box_hover_line {
    @extend %position_center;

    .btn {
        @include btn-border-slide(#252525, #168dff, 2px, 0.8s);
    }
}

// masonry
.masonry {
    display: grid;
    overflow: hidden;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);

    div {
        border: 1px solid gray;
    }

    .photo {
        background: blue;
        grid-row-end: span 2;
    }

    .project {
        background: gray;
        grid-row-end: span 3;
    }

    .blog {
        background: greenyellow;
        grid-row-end: span 1;
    }
}


// start1
.start1 {
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 0;
    min-height: 100vh;
    background: #ededed;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: 'Lobster Two', cursive;
        font-size: 5rem;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
        color: #343434;
        animation: Hello 3s ease;
    }

    .pulse {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 30rem;

        circle {
            fill: #ff5154;
            transform: scale(0);
            opacity: 0;
            transform-origin: 50% 50%;
            animation: pulse 2s 0.25s cubic-bezier(.5, .5, 0, 1);

            &:nth-child(2) {
                fill: #7fc6a4;
                animation: pulse 2s 0.75s cubic-bezier(.5, .5, 0, 1);
            }

            &:nth-child(3) {
                fill: #e5f77d;
                animation: pulse 2s 1.3s cubic-bezier(.5, .5, 0, 1);
            }

        }

    }
}

@keyframes pulse {

    25% {
        opacity: 0.4;
    }

    100% {
        transform: scale(1);
    }

}

@keyframes Hello {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    96% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

// start2
.start2 {
    @include border-radius(5px);
    @extend %position_center;

    overflow: hidden;
    width: 300px;
    height: 300px;
    background: lighten(#f0f4c3, 10%);
    box-shadow: 0 2px 30px rgba(black, 0.2);
    animation: show 1.5s forwards ease-in; //click 후 사라지게 class 추가

    .wave {
        @include border-radius(43%);

        position: absolute;
        top: 3%;
        left: 50%;
        width: 500px;
        height: 500px;
        margin-top: -250px;
        margin-left: -250px;
        background: #ff6c00;
        opacity: 0.4;
        transform-origin: 50% 48%;
        animation: drift 3000ms infinite linear;
    }

    .wave.-three {
        animation: drift 5000ms infinite linear;
    }
    
    .wave.-two {
        animation: drift 7000ms infinite linear;
        opacity: 0.1;
        background: yellow;
    }

    &::after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(#200054, 1), rgba(#def, 0) 80%, rgba(white, 0.5));
        z-index: 11;
        transform: translate3d(0, 0, 0);
    }

    .title {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        line-height: 300px;
        text-align: center;
        transform: translate3d(0, 0, 0);
        color: white;
        text-transform: uppercase;
        font-family: "Playfair Display", serif;
        letter-spacing: 0.4em;
        font-size: 24px;
        text-shadow: 0 1px 0 rgba(black, 0.1);
        text-indent: 0.3em;
    }
}

@keyframes show {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// text_overflow
.text_overflow {
    width: 500px;

    table td {
        border-right: 1px solid #e3e3e3;

        &:last-child {
            border-right: 0;
        }
    }
}

// follow menu
#followMenu {
    position: absolute;
    top: 300px;
    right: 50px;
    background: red;
}

// one_day_popup
.one_day_popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: url(../img/1day/1.png) no-repeat;
    padding: 180px 30px ;
    display: none;

    &.active {
        animation: scale-display .3s;
        display: block;
    }

    &.out {
        animation: scale-display--reversed .3s;
        animation-fill-mode: forwards;
        display: block;
    }

    
    .pop_title {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
}

@keyframes scale-display--reversed {
	0% {
		display: inline-flex;
		opacity: 1;
		// transform: scale(1);
		// -webkit-transform: scale(1);
	}
	99% {
		display: inline-flex;
		opacity: 0;
		// transform: scale(0);
		// -webkit-transform: scale(0);
	}
	100% {
		display: none;
		opacity: 0;
		// transform: scale(0);
		// -webkit-transform: scale(0);
	}
}

// input result
.loan_search_box {
    width: 100%;
    padding: 16px;
    background: #bcbcbc;
    text-align: center;

    .loan_search_common {
        display: inline-block;
    }

    .loan_search_write {
        position: relative;
        width: 64%;

        .loan_search_result {
            overflow-y: scroll;
            position: absolute;
            z-index: 1;
            top: 34px;
            left: 0;
            width: 100%;
            height: 245px;
            border: 1px solid #41abff;
            background: #fff;
        }
    }

    .loan_search_no_way {
        padding: 16px;
        text-align: left;

        li {
            position: relative;
            padding: 0 0 0 13px;
        }

        &::before {
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 0;
            content: "";
            width: 5px;
            height: 5px;
            @include border-radius(50%);
            background: #000000;
        }
    }

    .loan_search_ok li {
        padding: 8px;
        font-size: 11px;

        &:nth-child(2n-3) {
            background: #bcbcbc;
        }

        &:hover {
            background: rgba(0, 128, 255, 0.8);
        }

        strong {
            display: block;
            padding: 0 0 8px;
            font-weight: bold;
            font-size: 12px;
        }
    }

    .loan_search_write_detail {
        width: 17%;

        .loan_search_select {
            width: 100%;
            height: 35px;

            option:nth-child(2n-3) { background: #bcbcbc;}
        }
    }
}

// modal
.custom_modal {
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;

        .modal_content {
            @extend %position_center;

            width: 40%;
            height: 250px;
            background: #ffffff;
            border: 1px solid black;
        }
    }
}

//notify
.error {
    display: none;
    position: fixed;
    min-width: 350px;
    max-width: 450px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #dedede;

    background: #f77975;
    color: #fff;
    border-color: #cd4945;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    z-index: 9999;

    a {
        position: absolute;
        display: block;
        width: 10px;
        height: 20px;
        right: -10px;
        top: -10px;
        cursor: pointer;
        padding: 0px 5px;
        border-radius: 50%;
        background-color: rgba(44, 46, 47, 0.9);
        border: 1px solid #333;
        border-color: #cd4945;
        text-align: center;
    }

    .error-icon {
        float: left;
        position: absolute;
        width: 50px;
        height: 58px;
        border-right: 1px solid #ddd;
        text-align: center;
        overflow: hidden;
        border-color: #cd4945;

        .error-icon-inner {
            position: relative;
            top: 50%;
            margin-top: -9px;

            img {
                max-width: 18px;
                max-height: 18px;
                margin: auto;
            }
        }
    }

    .error-text {
        padding: 10px 15px;
        margin-left: 50px;

        h3 {
            display: block;
            padding: 0;
            margin: 3px 0;
            font-size: 14px;
            font-weight: bold;
            line-height: normal;
        }

        p {
            margin: 5px 0;
            margin-bottom: 0;
            padding: 0;
            font-size: 12px;
            font-weight: normal;
            line-height: 14px;
        }
    }

    .error-top-right {
        top: 100px;
        right: 20px;
    }
}

// hamburger
.hamburger {
    .side__menu {
        display: block;
        position: absolute;
        top: 0;
        left: -200px;
        width: 200px;
        height: 100%;
        background: red;
        transition: left 1s ease;
    }
}

// nexflex
.nexflex {
    .header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100vw;
        height: 105px;
        flex-direction: column;
        background: #fff;
    }

    .main {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: gray;

        .page {
            width: 100%;
            background: #fff;
        }
    }

    .logged-out {
        display: flex;
        position: relative;
        min-height: calc(100vh - 100px);
        flex-direction: row;
        overflow: hidden;
        max-width: 1420px;
        margin: 0 auto;
        padding: 0 40px;

        .container {
            position: relative;
            width: 50%;
            display: inline-block;
            min-height: 100%;
            overflow: hidden;
        }

        .symbol-wrapper {
            position: absolute;
            right: 40px;
            min-width: 53vh;
        }

        .symbol-mask {
            overflow: hidden;
            position: absolute;
            width: 100%;
        }

        .symbol-left {
            top: 100%;
            left: 0;
            width: 36%;
            height: 100%;
            background: #af1f1f;
          
          
            /* animation-timing-function: linear; */
            animation-direction: alternate;
          
            animation-name: symbol-side;
            /* 애니메이션 이름 */
            animation-duration: .75s;
            /* 몇 초안에 일어날지 */
            animation-iteration-count: 1;
            /*반복횟수*/
            /* animation-direction:alternate; 종료 후 다시 처음부터 시작할지 역방향으로 진행할지 결정  == 방향 지정 */
            animation-fill-mode: forwards;
            /* 애니메이션이 시작되기 전이나 끝나고 난 후 어떤 값이 적용될지 지정 */
            animation-timing-function: cubic-bezier(.19, 1, .22, 1);
            /* animation-timing-function:cubic-bezier(0, 1, 0.5, 1); */
        }

        .symbol-right {
            top: 100%;
            right: 0;
            width: 36%;
            height: 100%;
            background: #af1f1f;
          
            animation-name: symbol-side;
            animation-duration: .75s;
            animation-direction: alternate;
            animation-iteration-count: 1;
            animation-delay: .46s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        }
          
          .symbol-middle {
            width: 34%;
            /* height: 100vh; */
            height: 0px;
            /* min-height: 100vh; */
            left: 36%;
            /* transform: rotate(-19.5deg) scaleY(1.3); */
            transform: rotate(-19.5deg) scaleY(1.3);
            /* transform-origin:left; */
            background: #e50914;
          
            animation-name: symbol-middle;
            animation-duration: .15s;
            /* animation-direction: alternate; */
            animation-iteration-count: 1;
            animation-delay: .23s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
    }
}

@keyframes symbol-side {
    0% {
      top: 100%;
    }
  
    100% {
      top: 0;
    }
}
  
@keyframes symbol-middle {
    0% {
      height: 0%;
    }
  
    100% {
      height: 100%;
    }
}

// Introduce_character
.introduce_character {
    .box{
        .box01 {
            text-align: center;

            .person {
                float: left;
                position: relative;
                width: 25%;
                padding: 10px;
                border: 1px solid black;
                cursor: pointer;
                background: #fff;
            }
        }

        .box02{
            .person {
                height: 295px;
                
                &:nth-child(3n) .exp,
                &:nth-child(4n) .exp {
                    left: -600px;
                }
            }
        }
    }

    .explain { display: none; }

    .exp {
        display: none;
        position: absolute;
        top: 0;
        left: 300px;
        z-index: 99;
        width: 600px;
        height: 295px;
        background: yellow;
    }
} 

// click
.click {
    @extend %position_center;
    @include border-solid(5, #4ac0ee);
    @include transition(all, .25s, .25s ease-in);

    z-index: 2;
    padding: 20px 30px;
    font-weight: bold;
    background: #ffffff;
    color: #4ac0ee;
    text-transform: uppercase;

    &::after,
    &::before {
        @include transition(all .25s ease-in);

        position: absolute;
        top: 100%;
        left: 0;
        bottom: -10px;
        content: '';
        z-index: 1;
        width: 100%;
        max-width: 100%;
    }

    &::before {
        top: 10px;
        left: -15px;
        width: 15px;
        height: 100%;
        background: #4ac0ee;
    }

    &::after {
        right: 0;
        left: -15px;
        height: 15px;
        background: #4ac0ee;
    }

    &:hover {
        margin: 0 0 -7.5px -7.5px;
        color: #fff;
        background: #4ac0ee;

        &::after,
        &::before {
            top: 100%;
            left: 0;
            bottom: 0;
        }

        &::before {
            top: 0;
            left: 0;
            width: 0;
        }

        &::after {
            right: 0;
            left: 0;
            height: 0;
        }
    }
}