@charset "UTF-8";

@import 'lib/slick.css';

@import 'common/variables';
@import 'common/mixins';
@import 'common/placeholders';
@import 'common/base';
@import 'common/common';

// https://webclub.tistory.com/518 참고 사이트
// 3중첩 넘어가지않게
// 네이밍 _ (Underbar)로 사용하는 것을 권장

@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@include font-face('Wemakeprice', 'Wemakeprice/Wemakeprice-Bold');

.nav .box .title a {
    font-family: 'Wemakeprice';
}

/* -------- TAB -------- */
/**
    type01: active 했을 경우, bootstrap_menu
    type02: active, hover 했을 경우, border 선이 항목별 끝까지 직선으로 그어짐
    type03: active, hover 했을 경우, border 선이 항목별 끝까지 box형으로 그어짐
*/
.tab {
    .type01 {
        border-bottom: 1px solid #dddddd;
        ul > li {
            float: left;
            margin-bottom: -1px;

            span {
                display: block;
                position: relative;
                padding: 10px 15px;
                cursor: pointer;
            }

            &.active span {
                border: 1px solid #dddddd;
                border-bottom-color: transparent;
                background: #ffffff;
            }
        }
    }

    .type02 {
        ul li {
            float: left;
            position: relative;
            width: 25%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;

            &::after {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 1;
                content: '';
                border-right: 1px solid #ddd;
            }

            &:last-child span {
                border-right: 1px solid #ddd;
            }

            &.active {
                &::before {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: -1px;
                    z-index: 2;
                    content: '';
                    border-top: 2px solid red;
                }

                &:last-child::before {
                    right: 0;
                }

                span {
                    color: red;
                }

                span::after {
                    display: block;
                    position: absolute;
                    left: 1px;
                    right: 0;
                    bottom: -1px;
                    content: '';
                    border-bottom: 1px solid #fff;
                }
            }

            span {
                display: block;
                position: relative;
                height: 100%;
                margin: 0 0 -1px;
                border: 1px solid #ddd;
                border-left: 0;
                border-right: 0;
            }
        }
    }

    .type03 {
        ul li {
            float: left;
            position: relative;
            width: calc(25% + 1px);
            height: 40px;
            margin: 0 0 0 -1px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;

            &::after {
                display: block;
                position: absolute;
                top: 10px;
                bottom: 10px;
                z-index: 1;
                content: '';
                border-right: 1px solid #ddd;
            }

            &:first-child span {
                border-left: 1px solid #ddd;
            }

            &:last-child span {
                border-right: 1px solid #ddd;
            }

            &.active {
                span {
                    z-index: 3;
                    border: 1px solid red;
                    border-top-width: 2px;
                    border-bottom: 0;
                    color: red;
                }

                span::after {
                    display: block;
                    position: absolute;
                    left: 1px;
                    right: 0;
                    content: '';
                    border-bottom: 1px solid #fff;
                }
            }

            span {
                display: block;
                position: relative;
                height: 100%;
                margin: 0 0 -1px;
                border: 1px solid #ddd;
                border-left: 0;
                border-right: 0;
            }
        }
    }
}

/* -------- Text_Justify -------- */
/**
    type01: 한글자씩 떨어짐
    type02: 한태그씩 떨어짐
    type03: 한태그씩 떨어지고 태그안에서 한 글자씩 떨어짐
*/

.text_justify {
    .type .justify {
        text-align: justify;
        text-align-last: justify;
    }
}

/* -------- Custom_Checkbox -------- */
/**
    type01: check box - 백이미지 활용
    type02: btn_checkbox
    type03: 한태그씩 떨어지고 태그안에서 한 글자씩 떨어짐
*/
.custom_checkbox {
    .sub_box {
        margin: 0 0 5px;
    }

    .type01 {
        position: relative;

        input[type='checkbox'] {
            & + label span {
                display: inline-block;
                width: 19px;
                height: 19px;
                margin: -2px 10px 0;
                vertical-align: middle;
                background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
                cursor: pointer;
            }

            &:checked + label span {
                background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
            }
        }
    }

    .type02 {
        position: relative;

        input[type='checkbox'] {
            & + label {
                display: inline-block;
                width: 40px;
                height: 40px;
                padding: 10px;
                border: 1px solid #000000;
            }

            &:checked + label {
                background: red;
            }
        }
    }
}

/* -------- Custom_Radio -------- */
/**
    type01: click_radio
*/
.custom_radio {
    position: relative;

    .type01 {
        input[type='radio'] {
            & + label span {
                display: inline-block;
                width: 19px;
                height: 19px;
                margin: -2px 10px 0 0;
                vertical-align: middle;
                background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
                cursor: pointer;
            }

            &:checked + label span {
                background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
            }
        }
    }
}

/* -------- Custom_File -------- */
/**
    type01: btn_file
    type02: label_btn
    type03: 파일 이름 다른 곳 작성1
    type04: 파일 이름 다른 곳 작성2
    type05: 파일 이름 다른 곳 작성3
    type06: 파일 추가/삭제
    type07: type01과 같음
*/
.custom_file {
    position: relative;

    .type {
        margin: 0 0 10px;
        max-width: 300px;
    }

    .file_name_show {
        float: left;
        min-width: 240px;
        height: 40px;
        padding: 0 16px;
        line-height: 40px;

        & + label {
            display: block;
            float: right;
            width: 60px;
            height: 40px;
            padding: 10px;
            border: 1px solid black;
            text-align: center;
        }
    }

    .type02 {
        display: block;

        button {
            display: block;
            float: right;
            width: 60px;
            height: 40px;
            padding: 10px;
            border: 1px solid black;
            text-align: center;
        }
    }
}

/* -------- Custom_Select -------- */
/**
    type01: background_select
*/
.custom_select select {
    background: url(../img/common/bg_select.png) no-repeat 95% center;
    background-size: 17px 9px;
}

/* -------- Custom_Scroll -------- */
/**
    type01: 수평스크롤
    type02: 스크롤바 커스텀
*/
.custom_scroll {
    .type01 {
        overflow: auto;
        white-space: nowrap;

        a {
            display: inline-block;
            padding: 14px;
            text-align: center;

            &:hover {
                background: #777777;
            }
        }
    }

    .type02 .sub_box {
        overflow: scroll;
        width: 300px;
        height: 140px;
        margin: 0 10px;
        padding: 10px;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;

            &-thumb {
                border-radius: 10px;
                background: red;
            }

            &-track {
                border-radius: 10px;
                background: gray;
                box-shadow: inset 0px 0px 5px #fff;
            }
        }
    }
}

/* -------- Custom_Select -------- */
/**
    type01: 이미지 스프라이트
*/
.image_sprite {
    .keyboard,
    .logo {
        background: url(../img/sprite/example.png);
        // background-size: 440px 410px; // 이미지 크기 1/2로 줄이고 싶을 때 다 1/2하면 됨
        background-repeat: no-repeat;
    }

    .keyboard {
        display: inline-block;
        width: 39px;
        height: 24px;
        background-position: -840px -496px;
        background-repeat: no-repeat;
        vertical-align: top;
    }

    .logo {
        display: inline-block;
        width: 121px;
        height: 57px;
        background-position: -280px -594px;
        background-repeat: no-repeat;
        vertical-align: top;
    }
}

/* -------- Animation -------- */
/**
    type01: 모래시계
    type02: hover_line 애니메이션
    type03: hover_click 애니메이션
    type04: 동그라미 애니메이션
    type05: 네모 애니메이션
*/
.animation {
    .type01 {
        width: 100%;
        height: 100%;

        h4 {
            position: absolute;
            bottom: 20px;
            left: 20px;
            margin: 0;
            font-weight: 200;
            font-family: sans-serif;
            color: #fff;
        }
        #loader {
            animation: loader 5s cubic-bezier(0.8, 0, 0.2, 1) infinite;
            height: 80px;
            width: 81px;
        }
        @keyframes loader {
            90% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(180deg);
            }
        }
        #top {
            animation: top 5s linear infinite;
            border-top: 40px solid #1b93d8d9;
            border-right: 40px solid transparent;
            border-left: 40px solid transparent;
            height: 0px;
            width: 1px;
            transform-origin: 50% 100%;
        }
        @keyframes top {
            90% {
                transform: scale(0);
            }
            100% {
                transform: scale(0);
            }
        }
        #bottom {
            animation: bottom 5s linear infinite;
            border-right: 40px solid transparent;
            border-bottom: 40px solid #1b93d8d9;
            border-left: 40px solid transparent;
            height: 0px;
            width: 1px;
            transform: scale(0);
            transform-origin: 50% 100%;
        }
        @keyframes bottom {
            10% {
                transform: scale(0);
            }
            90% {
                transform: scale(1);
            }
            100% {
                transform: scale(1);
            }
        }
        #line {
            animation: line 5s linear infinite;
            border-left: 1px dotted #1b93d8d9;
            height: 0px;
            width: 0px;
            position: absolute;
            top: 40px;
            left: 40px;
        }
        @keyframes line {
            10% {
                height: 40px;
            }
            100% {
                height: 40px;
            }
        }
    }

    .type02 {
        .box_hover_line {
            // @extend %position_center;

            .btn {
                @include btn-border-slide(#252525, #168dff, 2px, 0.8s);
            }
        }
    }

    .type03 {
        padding: 0 0 60px;

        .click {
            // @extend %position_center;
            @include border-solid(5, #4ac0ee);
            @include transition(all, 0.25s, 0.25s ease-in);

            position: absolute;
            left: 10px;
            z-index: 2;
            padding: 20px 30px;
            font-weight: bold;
            background: #ffffff;
            color: #4ac0ee;
            text-transform: uppercase;

            &::after,
            &::before {
                @include transition(all 0.25s ease-in);

                position: absolute;
                top: 100%;
                left: 0;
                bottom: -10px;
                content: '';
                z-index: 1;
                width: 100%;
                max-width: 100%;
            }

            &::before {
                top: 10px;
                left: -15px;
                width: 15px;
                height: 100%;
                background: #4ac0ee;
            }

            &::after {
                right: 0;
                left: -15px;
                height: 15px;
                background: #4ac0ee;
            }

            &:hover {
                margin: 0 0 -7.5px -7.5px;
                color: #fff;
                background: #4ac0ee;

                &::after,
                &::before {
                    top: 100%;
                    left: 0;
                    bottom: 0;
                }

                &::before {
                    top: 0;
                    left: 0;
                    width: 0;
                }

                &::after {
                    right: 0;
                    left: 0;
                    height: 0;
                }
            }
        }
    }

    .type04 .start1 {
        overflow: hidden;
        position: relative;
        z-index: 0;
        height: 300px;
        background: #ededed;

        h1 {
            @extend %position_center;
            font-family: 'Lobster Two', cursive;
            font-size: 5rem;
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
            color: #343434;
            animation: Hello 3s ease infinite;
        }

        .pulse {
            @extend %position_center;

            z-index: -1;
            max-width: 10rem; // 원크기 조절

            circle {
                fill: #ff5154;
                transform: scale(0);
                opacity: 0;
                transform-origin: 50% 50%;
                animation: pulse 2s 0.25s cubic-bezier(0.5, 0.5, 0, 1) infinite;

                &:nth-child(2) {
                    fill: #7fc6a4;
                    animation: pulse 2s 0.75s cubic-bezier(0.5, 0.5, 0, 1) infinite;
                }

                &:nth-child(3) {
                    fill: #e5f77d;
                    animation: pulse 2s 1.3s cubic-bezier(0.5, 0.5, 0, 1) infinite;
                }
            }
        }
    }

    .type05 .start2 {
        @include border-radius(5px);

        overflow: hidden;
        position: relative;
        width: 300px;
        height: 300px;
        background: lighten(#f0f4c3, 10%);
        box-shadow: 0 2px 30px rgba(black, 0.2);
        // animation: show 1.5s forwards ease-in; //click 후 사라지게 class 추가

        .wave {
            @include border-radius(43%);

            position: absolute;
            top: 3%;
            left: 50%;
            width: 500px;
            height: 500px;
            margin-top: -250px;
            margin-left: -250px;
            background: #ff6c00;
            opacity: 0.4;
            transform-origin: 50% 48%;
            animation: drift 3000ms infinite linear;
        }

        .wave.-three {
            animation: drift 5000ms infinite linear;
        }

        .wave.-two {
            animation: drift 7000ms infinite linear;
            opacity: 0.1;
            background: yellow;
        }

        &::after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(#200054, 1), rgba(#def, 0) 80%, rgba(white, 0.5));
            z-index: 11;
            transform: translate3d(0, 0, 0);
        }

        .title {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 1;
            line-height: 300px;
            text-align: center;
            transform: translate3d(0, 0, 0);
            color: white;
            text-transform: uppercase;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.4em;
            font-size: 24px;
            text-shadow: 0 1px 0 rgba(black, 0.1);
            text-indent: 0.3em;
        }
    }
}

// masonry
.masonry {
    display: grid;
    overflow: hidden;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);

    div {
        border: 1px solid gray;
    }

    .photo {
        background: blue;
        grid-row-end: span 2;
    }

    .project {
        background: gray;
        grid-row-end: span 3;
    }

    .blog {
        background: greenyellow;
        grid-row-end: span 1;
    }
}

@keyframes pulse {
    25% {
        opacity: 0.4;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes Hello {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    96% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// follow menu
#followMenu {
    position: absolute;
    top: 300px;
    right: 50px;
    background: red;
}

// one_day_popup
.one_day_popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: url(../img/1day/1.png) no-repeat;
    padding: 180px 30px;
    display: none;

    &.active {
        animation: scale-display 0.3s;
        display: block;
    }

    &.out {
        animation: scale-display--reversed 0.3s;
        animation-fill-mode: forwards;
        display: block;
    }

    .pop_title {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
}

@keyframes scale-display--reversed {
    0% {
        display: inline-flex;
        opacity: 1;
        // transform: scale(1);
        // -webkit-transform: scale(1);
    }
    99% {
        display: inline-flex;
        opacity: 0;
        // transform: scale(0);
        // -webkit-transform: scale(0);
    }
    100% {
        display: none;
        opacity: 0;
        // transform: scale(0);
        // -webkit-transform: scale(0);
    }
}

// nexflex
.nexflex {
    .header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100vw;
        height: 105px;
        flex-direction: column;
        background: #fff;
    }

    .main {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: gray;

        .page {
            width: 100%;
            background: #fff;
        }
    }

    .logged-out {
        display: flex;
        position: relative;
        min-height: calc(100vh - 100px);
        flex-direction: row;
        overflow: hidden;
        max-width: 1420px;
        margin: 0 auto;
        padding: 0 40px;

        .container {
            position: relative;
            width: 50%;
            display: inline-block;
            min-height: 100%;
            overflow: hidden;
        }

        .symbol-wrapper {
            position: absolute;
            right: 40px;
            min-width: 53vh;
        }

        .symbol-mask {
            overflow: hidden;
            position: absolute;
            width: 100%;
        }

        .symbol-left {
            top: 100%;
            left: 0;
            width: 36%;
            height: 100%;
            background: #af1f1f;

            /* animation-timing-function: linear; */
            animation-direction: alternate;

            animation-name: symbol-side;
            /* 애니메이션 이름 */
            animation-duration: 0.75s;
            /* 몇 초안에 일어날지 */
            animation-iteration-count: 1;
            /*반복횟수*/
            /* animation-direction:alternate; 종료 후 다시 처음부터 시작할지 역방향으로 진행할지 결정  == 방향 지정 */
            animation-fill-mode: forwards;
            /* 애니메이션이 시작되기 전이나 끝나고 난 후 어떤 값이 적용될지 지정 */
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            /* animation-timing-function:cubic-bezier(0, 1, 0.5, 1); */
        }

        .symbol-right {
            top: 100%;
            right: 0;
            width: 36%;
            height: 100%;
            background: #af1f1f;

            animation-name: symbol-side;
            animation-duration: 0.75s;
            animation-direction: alternate;
            animation-iteration-count: 1;
            animation-delay: 0.46s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        }

        .symbol-middle {
            width: 34%;
            /* height: 100vh; */
            height: 0px;
            /* min-height: 100vh; */
            left: 36%;
            /* transform: rotate(-19.5deg) scaleY(1.3); */
            transform: rotate(-19.5deg) scaleY(1.3);
            /* transform-origin:left; */
            background: #e50914;

            animation-name: symbol-middle;
            animation-duration: 0.15s;
            /* animation-direction: alternate; */
            animation-iteration-count: 1;
            animation-delay: 0.23s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
    }
}

@keyframes symbol-side {
    0% {
        top: 100%;
    }

    100% {
        top: 0;
    }
}

@keyframes symbol-middle {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

// pagetrans
.pageTrans {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    & > div {
        width: 100%;
        height: 12.5%;
        background: blueviolet;
        transition: transform 500ms;
    }

    @for $i from 1 through 8 {
        & > div:nth-child(#{$i}) {
            transition-delay: $i * 100ms;
        }
    }
}

body.page.reveal #loader > div {
    transform: translateX(-100%);
}
