a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

.pop_box {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: url(./1.png) no-repeat;
    padding: 180px 30px ;
    display: none;

    &.active {
        animation: scale-display .3s;
        display: block;
    }

    &.out {
        animation: scale-display--reversed .3s;
        animation-fill-mode: forwards;
        display: block;
    }
    // transform: 2s;
    // transform: translateY(0);
    // animation: fadeIn 1s ease-out;
}

// @keyframes scale-display {
//     0% {
//         opacity: 0;
//         transform: scale(0);
//     }
//     100% {
//         opacity: 1;
//         transform: scale(1);
//     }
// }

@keyframes scale-display--reversed {
	0% {
		display: inline-flex;
		opacity: 1;
		// transform: scale(1);
		// -webkit-transform: scale(1);
	}
	99% {
		display: inline-flex;
		opacity: 0;
		// transform: scale(0);
		// -webkit-transform: scale(0);
	}
	100% {
		display: none;
		opacity: 0;
		// transform: scale(0);
		// -webkit-transform: scale(0);
	}
}


// @keyframes fadeIn {
//     0% {
//         opacity: 1;
//         //display: block;
//         transform: translateY(0);
//     }
//     100% {
//         opacity: 0;
//         // display: none;
//         transform: translateY(-100%);
//     }
// }

.pop_title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;

}