.modal { position: fixed; display: none; z-index: 1; width: 100%; height: 100%; } 
.modal_content { position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 40%; height: 250px; background: #ffffff; border: 1px solid black;}
    
    
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}