html {
    position: relative;
    background: #eee;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, 0.2);
    background: lighten(#f0f4c3, 10%);
    overflow: hidden;
    // transform: translate3d(0, 0, 0);
    animation: show 1.5s forwards ease-in; //click 후 사라지게 class 추가
}

.wave {
    opacity: 0.4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #ff6c00;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
}

.wave.-three {
    animation: drift 5000ms infinite linear;
}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    background: yellow;
}

.box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#200054, 1), rgba(#def, 0) 80%, rgba(white, 0.5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    letter-spacing: 0.4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, 0.1);
    text-indent: 0.3em;
}

@keyframes show {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}
