html { position: relative; background: #eee; }

.box { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 300px; height: 300px; border-radius: 5px; -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2); background: #fbfcee; overflow: hidden; -webkit-animation: show 1.5s forwards ease-in; animation: show 1.5s forwards ease-in; }

.wave { opacity: 0.4; position: absolute; top: 3%; left: 50%; background: #ff6c00; width: 500px; height: 500px; margin-left: -250px; margin-top: -250px; -webkit-transform-origin: 50% 48%; transform-origin: 50% 48%; border-radius: 43%; -webkit-animation: drift 3000ms infinite linear; animation: drift 3000ms infinite linear; }

.wave.-three { -webkit-animation: drift 5000ms infinite linear; animation: drift 5000ms infinite linear; }

.wave.-two { -webkit-animation: drift 7000ms infinite linear; animation: drift 7000ms infinite linear; opacity: 0.1; background: yellow; }

.box:after { content: ""; display: block; left: 0; top: 0; width: 100%; height: 100%; background: -webkit-gradient(linear, left top, left bottom, from(#200054), color-stop(80%, rgba(221, 238, 255, 0)), to(rgba(255, 255, 255, 0.5))); background: linear-gradient(to bottom, #200054, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5)); z-index: 11; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.title { position: absolute; left: 0; top: 0; width: 100%; z-index: 1; line-height: 300px; text-align: center; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); color: white; text-transform: uppercase; font-family: "Playfair Display", serif; letter-spacing: 0.4em; font-size: 24px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); text-indent: 0.3em; }

@-webkit-keyframes show { 0% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes show { 0% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; } }

@-webkit-keyframes drift { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  from { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes drift { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  from { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
