@function multiple-box-shadow($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';

    @for $i from 2 through $n {
        $value: '#{$value}, #{random(2000)}px #{random(2000)}px #FFF';
    }

    @return unquote($value);
}

@keyframes animStar {
    from {
        transform: translateY(-2000px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes pulse {
    25% {
        opacity: 0.4;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes Hello {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    96% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

$shadows-small: multiple-box-shadow(100);
$shadows-medium: multiple-box-shadow(50);
$shadows-big: multiple-box-shadow(10);

/**
    type01: 모래시계
    type02: hover_line 애니메이션
    type03: hover_click 애니메이션
    type04: 동그라미 애니메이션
    type05: 네모 애니메이션
    type06: 넷플릭스 애니메이션
    type07: 페이지 전환 효과
    type08: 눈(별) 내림 효과
    type09: Tweening 효과
*/

.animation {
    .type01 {
        width: 100%;
        height: 100%;

        h4 {
            position: absolute;
            bottom: 20px;
            left: 20px;
            margin: 0;
            font-weight: 200;
            font-family: sans-serif;
            color: #fff;
        }
        #loader {
            animation: loader 5s cubic-bezier(0.8, 0, 0.2, 1) infinite;
            height: 80px;
            width: 81px;
        }
        @keyframes loader {
            90% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(180deg);
            }
        }
        #top {
            animation: top 5s linear infinite;
            border-top: 40px solid #1b93d8d9;
            border-right: 40px solid transparent;
            border-left: 40px solid transparent;
            height: 0px;
            width: 1px;
            transform-origin: 50% 100%;
        }
        @keyframes top {
            90% {
                transform: scale(0);
            }
            100% {
                transform: scale(0);
            }
        }
        #bottom {
            animation: bottom 5s linear infinite;
            border-right: 40px solid transparent;
            border-bottom: 40px solid #1b93d8d9;
            border-left: 40px solid transparent;
            height: 0px;
            width: 1px;
            transform: scale(0);
            transform-origin: 50% 100%;
        }
        @keyframes bottom {
            10% {
                transform: scale(0);
            }
            90% {
                transform: scale(1);
            }
            100% {
                transform: scale(1);
            }
        }
        #line {
            animation: line 5s linear infinite;
            border-left: 1px dotted #1b93d8d9;
            height: 0px;
            width: 0px;
            position: absolute;
            top: 40px;
            left: 40px;
        }
        @keyframes line {
            10% {
                height: 40px;
            }
            100% {
                height: 40px;
            }
        }
    }

    .type02 {
        .box_hover_line {
            .btn {
                @include btn-border-slide(#252525, #168dff, 2px, 0.8s);
            }
        }
    }

    .type03 {
        padding: 0 0 60px;

        .click {
            @include border-solid(5, #4ac0ee);
            @include transition(all, 0.25s, 0.25s ease-in);

            position: absolute;
            left: 10px;
            z-index: 2;
            padding: 20px 30px;
            font-weight: bold;
            background: #ffffff;
            color: #4ac0ee;
            text-transform: uppercase;

            &::after,
            &::before {
                @include transition(all 0.25s ease-in);

                position: absolute;
                top: 100%;
                left: 0;
                bottom: -10px;
                content: '';
                z-index: 1;
                width: 100%;
                max-width: 100%;
            }

            &::before {
                top: 10px;
                left: -15px;
                width: 15px;
                height: 100%;
                background: #4ac0ee;
            }

            &::after {
                right: 0;
                left: -15px;
                height: 15px;
                background: #4ac0ee;
            }

            &:hover {
                margin: 0 0 -7.5px -7.5px;
                color: #fff;
                background: #4ac0ee;

                &::after,
                &::before {
                    top: 100%;
                    left: 0;
                    bottom: 0;
                }

                &::before {
                    top: 0;
                    left: 0;
                    width: 0;
                }

                &::after {
                    right: 0;
                    left: 0;
                    height: 0;
                }
            }
        }
    }

    .type04 .start1 {
        overflow: hidden;
        position: relative;
        z-index: 0;
        height: 300px;
        background: #ededed;

        h1 {
            @extend %position_center;
            font-family: 'Lobster Two', cursive;
            font-size: 5rem;
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
            color: #343434;
            animation: Hello 3s ease infinite;
        }

        .pulse {
            @extend %position_center;

            z-index: -1;
            max-width: 10rem; // 원크기 조절

            circle {
                fill: #ff5154;
                transform: scale(0);
                opacity: 0;
                transform-origin: 50% 50%;
                animation: pulse 2s 0.25s cubic-bezier(0.5, 0.5, 0, 1) infinite;

                &:nth-child(2) {
                    fill: #7fc6a4;
                    animation: pulse 2s 0.75s cubic-bezier(0.5, 0.5, 0, 1) infinite;
                }

                &:nth-child(3) {
                    fill: #e5f77d;
                    animation: pulse 2s 1.3s cubic-bezier(0.5, 0.5, 0, 1) infinite;
                }
            }
        }
    }

    .type05 .start2 {
        @include border-radius(5px);

        overflow: hidden;
        position: relative;
        width: 300px;
        height: 300px;
        background: lighten(#f0f4c3, 10%);
        box-shadow: 0 2px 30px rgba(black, 0.2);
        // animation: show 1.5s forwards ease-in; //click 후 사라지게 class 추가

        .wave {
            @include border-radius(43%);

            position: absolute;
            top: 3%;
            left: 50%;
            width: 500px;
            height: 500px;
            margin-top: -250px;
            margin-left: -250px;
            background: #ff6c00;
            opacity: 0.4;
            transform-origin: 50% 48%;
            animation: drift 3000ms infinite linear;
        }

        .wave.-three {
            animation: drift 5000ms infinite linear;
        }

        .wave.-two {
            animation: drift 7000ms infinite linear;
            opacity: 0.1;
            background: yellow;
        }

        &::after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(#200054, 1), rgba(#def, 0) 80%, rgba(white, 0.5));
            z-index: 11;
            transform: translate3d(0, 0, 0);
        }

        .title {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 1;
            line-height: 300px;
            text-align: center;
            transform: translate3d(0, 0, 0);
            color: white;
            text-transform: uppercase;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.4em;
            font-size: 24px;
            text-shadow: 0 1px 0 rgba(black, 0.1);
            text-indent: 0.3em;
        }
    }

    .type08 {
        .snow_box {
            overflow: hidden;
            position: relative;
            height: 300px;
            background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
        }

        .snow {
            border-radius: 50%;
            background: transparent;

            &::after {
                content: '';
                position: absolute;
                top: 2000px;
                border-radius: 50%;
                background: transparent;
            }

            &.snow1 {
                width: 1px;
                height: 1px;
                box-shadow: $shadows-small;
                animation: animStar 50s linear infinite;

                &::after {
                    width: 1px;
                    height: 1px;
                    box-shadow: $shadows-small;
                }
            }

            &.snow2 {
                width: 2px;
                height: 2px;
                box-shadow: $shadows-medium;
                animation: animStar 100s linear infinite;

                &::after {
                    width: 2px;
                    height: 2px;
                    box-shadow: $shadows-medium;
                }
            }

            &.snow3 {
                width: 3px;
                height: 3px;
                box-shadow: $shadows-medium;
                animation: animStar 150s linear infinite;

                &::after {
                    width: 3px;
                    height: 3px;
                    box-shadow: $shadows-medium;
                }
            }
        }
    }
}
