/**
    type01: 이미지 스프라이트
*/

.image_sprite {
    .keyboard,
    .logo {
        background: url(../img/sprite/example.png);
        // background-size: 440px 410px; // 이미지 크기 1/2로 줄이고 싶을 때 다 1/2하면 됨
        background-repeat: no-repeat;
    }

    .keyboard {
        display: inline-block;
        width: 39px;
        height: 24px;
        background-position: -840px -496px;
        background-repeat: no-repeat;
        vertical-align: top;
    }

    .logo {
        display: inline-block;
        width: 121px;
        height: 57px;
        background-position: -280px -594px;
        background-repeat: no-repeat;
        vertical-align: top;
    }
}
