.one_day_popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: url(../img/1day/1.png) no-repeat;
    padding: 180px 30px;
    display: none;

    &.active {
        animation: scale-display 0.3s;
        display: block;
    }

    &.out {
        animation: scale-display--reversed 0.3s;
        animation-fill-mode: forwards;
        display: block;
    }

    .pop_title {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
}

@keyframes scale-display--reversed {
    0% {
        display: inline-flex;
        opacity: 1;
        // transform: scale(1);
        // -webkit-transform: scale(1);
    }
    99% {
        display: inline-flex;
        opacity: 0;
        // transform: scale(0);
        // -webkit-transform: scale(0);
    }
    100% {
        display: none;
        opacity: 0;
        // transform: scale(0);
        // -webkit-transform: scale(0);
    }
}
