/**
    type01: 수평스크롤
    type02: 스크롤바 커스텀
*/

.custom_scroll {
    .type01 {
        overflow: auto;
        white-space: nowrap;

        a {
            display: inline-block;
            padding: 14px;
            text-align: center;

            &:hover {
                background: #777777;
            }
        }
    }

    .type02 .sub_box {
        overflow: scroll;
        width: 300px;
        height: 140px;
        margin: 0 10px;
        padding: 10px;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;

            &-thumb {
                border-radius: 10px;
                background: red;
            }

            &-track {
                border-radius: 10px;
                background: gray;
                box-shadow: inset 0px 0px 5px #fff;
            }
        }
    }
}
