body { font-family: "Open Sans"; }

.header__head { position: fixed; z-index: 99; width: 100%; color: #f2f2f2; text-align: center; }

.header__head .header-notice { height: 50px; background: #222222; line-height: 50px; }

.header__head .header-notice .header-notice-img { margin-right: 6px; vertical-align: middle; }

.header__head .header-notice .notice-left { float: left; font-size: 13px; letter-spacing: -0.6px; }

.header__head .header-notice .notice-right { float: right; font-size: 12px; }

.header__head .header-nav__head { position: relative; height: 80px; background: #ffffff; color: #222222; }

.header__head .header-nav__head .header-nav__head-inner { width: 1180px; height: 100%; margin: 0 auto; }

.header__head .header-nav__head .header-nav__head-inner .header-nav__head-left { float: left; padding: 20px 0; }

.header__head .header-nav__head .header-nav__head-inner .header-nav__head-right { float: right; padding: 21px 0; }

.header__head .header-nav__head .header-nav__head-inner .header-nav__head-right a { float: left; }

.header__head .header-nav__head .header-nav__head-inner .header-nav__head-right a .auth-box { width: 68px; height: 28px; margin: 5px; border: 1px solid #f2f2f2; border-radius: 3px; font-size: 12px; line-height: 26px; }

.header__head .header-nav__head .header-nav__head-inner .header-nav__head-right a:last-child .auth-box { margin-right: 0; }

.header__head .header-nav__head .header-nav__head-inner .header-nav__head-center { display: inline-block; font-weight: bold; }

.header__head .header-nav__head .header-nav__head-inner .header-nav__head-center ul li { display: inline-block; font-size: 14px; line-height: 80px; padding: 0 20px; cursor: pointer; }

.header__head .header-nav__head .header-nav__head-inner .header-nav__head-center ul .header-nav-li:hover { border-bottom: 4px solid #4874e9; color: #4874e9; }

.header__head .header-nav__head .header-nav__head-inner .header-nav__head-center ul .header-nav-li .header-nav__header-sub { visibility: hidden; background-color: #ffffff; max-width: 1920px; opacity: 0; width: 100%; height: 70px; position: absolute; left: 0; right: 0; margin-top: 2px; font-size: 16px; line-height: 16px; color: #666666; z-index: -1; -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.05); box-shadow: 0 5px 14px rgba(0, 0, 0, 0.05); }

.header__head .header-nav__head .header-nav__head-inner .header-nav__head-center ul .header-nav-li .header-nav__header-sub li { line-height: 70px; }

.header__head .header-nav__head .header-nav__head-inner .header-nav__head-center ul .header-nav-li .keep-hover { visibility: visible; opacity: 1; background: #ffffff; }

.keep-hover { visibility: visible; opacity: 1; background: #ffffff; }

.header_area_hidden { width: 100%; height: 130px; }

.inner { position: relative; margin: 0 auto; width: 1180px; }

.clearfix::after { display: block; clear: both; content: ""; height: 0; visibility: hidden; }

img { display: inline; }

a { color: inherit; }

.show { display: block !important; }

@media only screen and (max-width: 1180px) { .inner { max-width: 1180px; width: 100%; } }
