a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-box-sizing: border-box; box-sizing: border-box; }

.one_day_popup { position: absolute; width: 100vw; height: 100vh; z-index: 9999; background: url(./1.png) no-repeat; padding: 180px 30px; display: none; }

.one_day_popup.active { -webkit-animation: scale-display .3s; animation: scale-display .3s; display: block; }

.one_day_popup.out { -webkit-animation: scale-display--reversed .3s; animation: scale-display--reversed .3s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; display: block; }

@-webkit-keyframes scale-display--reversed { 0% { display: -webkit-inline-box; display: inline-flex;
    opacity: 1; }
  99% { display: -webkit-inline-box; display: inline-flex;
    opacity: 0; }
  100% { display: none;
    opacity: 0; } }

@keyframes scale-display--reversed { 0% { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex;
    opacity: 1; }
  99% { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex;
    opacity: 0; }
  100% { display: none;
    opacity: 0; } }

.pop_title { font-size: 40px; font-weight: bold; text-align: center; }
