@charset "UTF-8";

// https://webclub.tistory.com/518 참고 사이트
// 3중첩 넘어가지않게
// 네이밍 _ (Underbar)로 사용하는 것을 권장

// @import 'lib/slick.css';

@import 'common/variables';
@import 'common/mixins';
@import 'common/placeholders';
@import 'common/base';
@import 'common/common';

@import 'components/_animation';
@import 'components/_dropdown';
@import 'components/_followmenu';
@import 'components/_fonts';
@import 'components/_image';
@import 'components/_input';
@import 'components/_layout';
@import 'components/_nexflex';
@import 'components/_pagetrans';
@import 'components/_popup';
@import 'components/_scroll';
@import 'components/_tab';
@import 'components/_text';

@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@include font-face('Wemakeprice', 'Wemakeprice/Wemakeprice-Bold');

body.page.reveal #loader > div {
    transform: translateX(-100%);
}

.nav .box .title a {
    font-family: 'Wemakeprice';
}
