@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/**
    type01: Fonts 영어만
    type02: Fonts 한글 가능
*/

.fonts {
    &_wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &_item {
        display: block;
        width: 25%;
        margin: 20px 0;
        font-size: 30px;
        text-align: center;

        &--OpenSans {
            font-family: 'Open Sans', sans-serif;
        }

        &--Roboto {
            font-family: 'Roboto', sans-serif;
        }

        &--Noto {
            font-family: 'Noto Sans KR', sans-serif;
        }
    }
}
