@keyframes search-move {
    0% {
        transform: translate(-50%, -50%);
    }

    20% {
        transform: translate(-100%, -100%);
    }

    40% {
        transform: translate(100%, -100%);
    }

    60% {
        transform: translate(50%, 50%);
    }

    80% {
        transform: translate(-100%, 50%);
    }
}

/**
    type01: 불규칙 배열
    type02: 프린트용 페이지
    type03: 404 페이지
*/

.masonry {
    display: grid;
    overflow: hidden;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);

    div {
        border: 1px solid gray;
    }

    .photo {
        background: blue;
        grid-row-end: span 2;
    }

    .project {
        background: gray;
        grid-row-end: span 3;
    }

    .blog {
        background: greenyellow;
        grid-row-end: span 1;
    }
}

.error-wrap {
    position: relative;
    height: 100%;
    background: #8471d7;

    &__background {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
    }

    &__logo {
        position: absolute;
        z-index: 20;
        top: 2rem;
        left: 2rem;
        width: 50px;
        height: 50px;

        img {
            width: 100%;
        }
    }

    &__content {
        overflow: hidden;
        position: relative;
        height: 100%;
    }
}

.error-content {
    &__wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    &__header {
        position: relative;
        margin: 0 0 60px;
    }

    &__content {
        font-size: 30px;
        color: #fff;
        text-align: center;

        p {
            margin: 15px;
            font-size: 15px;
            line-height: 1.8;
            color: #d2d6e4;
        }
    }
}

.list-wrap {
    text-align: center;

    & + & {
        margin: 15px 0 0;
    }

    &__square {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        border: 10px solid #fff;
    }

    &__line {
        display: block;
        width: 150px;
        height: 10px;
        border-radius: 5px;
        background: #fff;

        & + & {
            margin: 23px 0 0;
        }

        &:nth-child(2) {
            width: 100px;
        }
    }
}

.list-item {
    display: inline-block;
    margin: 0 0 0 20px;
}

.list-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    animation: search-move 5s infinite;

    img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .error-wrap {
        &__logo {
            position: relative;
            left: 0;
            margin: 0 auto 30px;
        }

        &__content {
            height: calc(100% - 2rem - 50px);
        }

        &__background {
            top: 0;
            transform: none;
            -webkit-transform: none;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .list-wrap {
        &__square {
            width: 40px;
            height: 40px;
            border-width: 8px;
        }

        &__line {
            width: 120px;
            height: 8px;

            &:nth-child(2) {
                width: 80px;
            }

            & + & {
                margin: 20px 0 0;
            }
        }
    }

    .list-item {
        margin: 0 0 0 10px;
    }
}

@media only screen and (max-width: 500px) {
    .error-content__content {
        font-size: 25px;
    }
}

@media only screen and (max-width: 425px) {
    .error-content {
        &__header {
            margin: 0 0 40px;
        }

        &__content {
            font-size: 18px;

            p {
                font-size: 12px;
            }
        }
    }
}
