@keyframes symbol-side {
    0% {
        top: 100%;
    }

    100% {
        top: 0;
    }
}

@keyframes symbol-middle {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.nexflex {
    .header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100vw;
        height: 105px;
        flex-direction: column;
        background: #fff;
    }

    .main {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: gray;

        .page {
            width: 100%;
            background: #fff;
        }
    }

    .logged-out {
        display: flex;
        position: relative;
        min-height: calc(100vh - 100px);
        flex-direction: row;
        overflow: hidden;
        max-width: 1420px;
        margin: 0 auto;
        padding: 0 40px;

        .container {
            position: relative;
            width: 50%;
            display: inline-block;
            min-height: 100%;
            overflow: hidden;
        }

        .symbol-wrapper {
            position: absolute;
            right: 40px;
            min-width: 53vh;
        }

        .symbol-mask {
            overflow: hidden;
            position: absolute;
            width: 100%;
        }

        .symbol-left {
            top: 100%;
            left: 0;
            width: 36%;
            height: 100%;
            background: #af1f1f;

            /* animation-timing-function: linear; */
            animation-direction: alternate;

            animation-name: symbol-side;
            /* 애니메이션 이름 */
            animation-duration: 0.75s;
            /* 몇 초안에 일어날지 */
            animation-iteration-count: 1;
            /*반복횟수*/
            /* animation-direction:alternate; 종료 후 다시 처음부터 시작할지 역방향으로 진행할지 결정  == 방향 지정 */
            animation-fill-mode: forwards;
            /* 애니메이션이 시작되기 전이나 끝나고 난 후 어떤 값이 적용될지 지정 */
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            /* animation-timing-function:cubic-bezier(0, 1, 0.5, 1); */
        }

        .symbol-right {
            top: 100%;
            right: 0;
            width: 36%;
            height: 100%;
            background: #af1f1f;

            animation-name: symbol-side;
            animation-duration: 0.75s;
            animation-direction: alternate;
            animation-iteration-count: 1;
            animation-delay: 0.46s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        }

        .symbol-middle {
            width: 34%;
            /* height: 100vh; */
            height: 0px;
            /* min-height: 100vh; */
            left: 36%;
            /* transform: rotate(-19.5deg) scaleY(1.3); */
            transform: rotate(-19.5deg) scaleY(1.3);
            /* transform-origin:left; */
            background: #e50914;

            animation-name: symbol-middle;
            animation-duration: 0.15s;
            /* animation-direction: alternate; */
            animation-iteration-count: 1;
            animation-delay: 0.23s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
    }
}
