/**
    type01: active 했을 경우, bootstrap_menu
    type02: active, hover 했을 경우, border 선이 항목별 끝까지 직선으로 그어짐
    type03: active, hover 했을 경우, border 선이 항목별 끝까지 box형으로 그어짐
*/

.tab {
    .type01 {
        border-bottom: 1px solid #dddddd;
        ul > li {
            float: left;
            margin-bottom: -1px;

            span {
                display: block;
                position: relative;
                padding: 10px 15px;
                cursor: pointer;
            }

            &.active span {
                border: 1px solid #dddddd;
                border-bottom-color: transparent;
                background: #ffffff;
            }
        }
    }

    .type02 {
        ul li {
            float: left;
            position: relative;
            width: 25%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;

            &::after {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 1;
                content: '';
                border-right: 1px solid #ddd;
            }

            &:last-child span {
                border-right: 1px solid #ddd;
            }

            &.active {
                &::before {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: -1px;
                    z-index: 2;
                    content: '';
                    border-top: 2px solid red;
                }

                &:last-child::before {
                    right: 0;
                }

                span {
                    color: red;
                }

                span::after {
                    display: block;
                    position: absolute;
                    left: 1px;
                    right: 0;
                    bottom: -1px;
                    content: '';
                    border-bottom: 1px solid #fff;
                }
            }

            span {
                display: block;
                position: relative;
                height: 100%;
                margin: 0 0 -1px;
                border: 1px solid #ddd;
                border-left: 0;
                border-right: 0;
            }
        }
    }

    .type03 {
        ul li {
            float: left;
            position: relative;
            width: calc(25% + 1px);
            height: 40px;
            margin: 0 0 0 -1px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;

            &::after {
                display: block;
                position: absolute;
                top: 10px;
                bottom: 10px;
                z-index: 1;
                content: '';
                border-right: 1px solid #ddd;
            }

            &:first-child span {
                border-left: 1px solid #ddd;
            }

            &:last-child span {
                border-right: 1px solid #ddd;
            }

            &.active {
                span {
                    z-index: 3;
                    border: 1px solid red;
                    border-top-width: 2px;
                    border-bottom: 0;
                    color: red;
                }

                span::after {
                    display: block;
                    position: absolute;
                    left: 1px;
                    right: 0;
                    content: '';
                    border-bottom: 1px solid #fff;
                }
            }

            span {
                display: block;
                position: relative;
                height: 100%;
                margin: 0 0 -1px;
                border: 1px solid #ddd;
                border-left: 0;
                border-right: 0;
            }
        }
    }
}
