/* .box { text-align: center;} */
body { width: 1180px; margin: 0 auto; background: rgb(207, 207, 207); }
.box .box01 { text-align: center; }
.box .box01 .person { float: left; position: relative; width: 25%; padding: 10px; border: 1px solid black; cursor: pointer; background: #fff; }

.box .box02 .person { height: 295px; }
.explain { display: none; }

.exp { display: none; position: absolute; top: 0; left: 300px; z-index: 99; width: 600px; height: 295px; background: yellow; }

.box .box02 .person:nth-child(3n) .exp,
.box .box02 .person:nth-child(4n) .exp { left: -600px; }

.curtain {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=70);
    z-index: 1;
}