@charset "utf-8";
/* _variables.scss */
$breakpoint-desktop: 979px;
$breakpoint-tablet: 768px;
$breakpoint-l-mobile: 767px;
$breakpoint-m-mobile: 574px;
$breakpoint-s-mobile: 460px;
$breakpoint-sl-mobile: 425px;
$breakpoint-sm-mobile: 360px;
$breakpoint-ss-mobile: 320px;
